@if (Check) {
	<label class="container-test">
		<div class="toggle-mode">
			<input (change)="switchTheme()" [(ngModel)]="darkTheme" type="checkbox" class="toggle-mode__checkbox" />
			<div class="toggle-mode__indicator">
				<span class="toggle-mode__icon toggle-mode__icon--sun">
					<fa-icon [icon]="['fas', 'sun']"></fa-icon>
				</span>
				<span class="toggle-mode__icon toggle-mode__icon--moon">
					<fa-icon [icon]="['fas', 'moon']"></fa-icon>
				</span>
			</div>
		</div>
	</label>
} @else {
	<label>
		<div class="check-theme">
			<input (change)="switchTheme()" [(ngModel)]="darkTheme" type="checkbox" class="check-theme__checkbox" />
			<div class="check-theme__bubble">
				<span class="check-theme__icon check-theme__icon--sun">
					<fa-icon [icon]="['fas', 'sun']"></fa-icon>
				</span>
				<span class="check-theme__icon check-theme__icon--moon">
					<fa-icon [icon]="['fas', 'moon']"></fa-icon>
				</span>
			</div>
		</div>
	</label>
}
