<div class="flex">
	<div class="flex w-full">
		<div
			class="grid w-10 min-w-10 place-items-center rounded-bl-md rounded-tl-md border-b-2 border-l-2 border-t-2 border-surface-border bg-surface-section text-base-color-secundary shadow-np-input-sm transition-all duration-300"
			[ngClass]="{ 'text-danger': control.invalid && control.touched }"
		>
			<fa-icon [icon]="icon"></fa-icon>
		</div>
		<div class="flex w-full">
			<p-calendar [formControl]="control" [placeholder]="placeHolder" [dateFormat]="dateFormat" [readonlyInput]="readOnly" />
		</div>
	</div>
</div>
