<div class="flex">
	<div
		class="flex w-10 items-center justify-center rounded-bl-md rounded-tl-md border-b-2 border-l-2 border-t-2 border-surface-border bg-surface-section text-base-color-secundary shadow-np-input-sm transition-all duration-300"
		[ngClass]="{ 'text-danger': control.invalid && control.touched }"
	>
		<fa-icon [icon]="icon"></fa-icon>
	</div>
	<div class="w-[calc(100%-2.5rem)]">
		<p-dropdown [formControl]="control" [placeholder]="placeHolder" [options]="options" [optionLabel]="optionLabel" />
	</div>
</div>
