#tsparticles {
	@apply fixed left-0 top-0 -z-[1] h-dvh w-dvw blur-[1px];
}

.signin {
	@apply container mx-auto flex h-dvh w-dvw items-center justify-center;

	&__circle {
		background: radial-gradient(closest-side, var(--surface-section), transparent);
		left: calc(50% - 600px);

		@apply absolute -top-[850px] h-[1200px] w-[1200px];
	}

	&__content {
		@apply flex w-full items-stretch justify-between gap-8 rounded-md bg-surface-section p-8 shadow-np-3xl backdrop-blur-sm;

		&-left {
			@apply flex-grow relative flex w-full;
		}

		&-right {
			@apply w-full;
		}
	}

	&__form-container {
		@apply m-auto flex w-3/4 flex-col;
	}

	&__title {
		@apply mx-auto w-fit bg-gradient-to-r from-primary-200 to-primary-600 bg-clip-text text-4xl font-bold text-transparent;
	}

	&__subtitle {
		@apply text-center text-lg text-base-color-secundary;
	}

	&__form {
		@apply mt-8 flex flex-col;

		&-group {
			@apply flex;
		}
	}

	&__input-icon {
		@apply mt-8 flex w-full;
	}

	&__icon {
		@apply grid w-10 min-w-10 place-items-center rounded-bl-md rounded-tl-md border-b-2 border-l-2 border-t-2 border-surface-border bg-surface-section text-base-color-secundary shadow-np-input-sm;
	}

	&__input {
		@apply flex w-full;

		.p-inputtext {
			@apply flex-auto rounded-bl-none rounded-tl-none;
		}
	}

	&__forgot {
		@apply mt-4 flex justify-between;

		&-link {
			@apply bg-gradient-to-r from-primary-200 to-primary-600 bg-clip-text font-bold text-transparent;
		}
	}

	&__remember {
		@apply flex gap-2;

		&-text {
			@apply text-base-color-secundary;
		}
	}

	&__submit {
		@apply mt-10 flex;
	}

	&__social {
		@apply mt-16 flex flex-col;

		&-separator {
			@apply flex items-center justify-center;
		}

		&-bar {
			@apply h-0.5 w-full bg-surface-border;
		}

		&-text {
			@apply text-nowrap bg-gradient-to-r from-primary-200 to-primary-600 bg-clip-text px-4 font-bold text-transparent;
		}

		&-body {
			@apply mt-6 flex justify-center gap-12;
		}

		&-button {
			@apply flex h-12 w-12 items-center justify-center rounded-full bg-surface-section p-2 text-xl shadow-np-input-sm transition-all duration-300 hover:shadow-np-input-sm-hover;

			&--facebook {
				@apply text-blue-500;
			}

			&--google {
				@apply text-red-500;
			}

			&--github {
				@apply text-gray-500;
			}
		}
	}

	&__signup {
		@apply mt-10 flex justify-center gap-1 text-base-color-secundary;

		&-link {
			@apply bg-gradient-to-r from-primary-200 to-primary-600 bg-clip-text font-bold text-transparent;
		}
	}
}

/* .login {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	/* .circle {
		width: 1200px;
		height: 1200px;
		background: radial-gradient(closest-side, var(--surface-section), transparent);
		left: calc(50% - 600px);
		position: absolute;
		top: -850px;
	} */

/* content login */

/* &__content {
		@apply flex container mx-auto w-full pb-10 pl-12 pr-12 pt-10 relative h-full items-center;

		&__body {
			@apply flex justify-between w-full gap-8 rounded-md p-4 bg-surface-section shadow-xl3;

			&__left {
				@apply w-full flex justify-center items-center relative;
			}

			&__right {
				@apply w-full;
			}
		}
	} 
} */
