<section class="signin">
	<p-toast />
	<ngx-particles id="tsparticles" [options]="particlesOptions" [particlesInit]="particlesInit"></ngx-particles>
	<div class="signin__circle"></div>
	<div class="signin__content">
		<div class="signin__switch-theme"><app-switch-mode [Check]="false" /></div>
		<div id="container-3d-login" class="signin__content-left"><app-model3d /></div>
		<div class="signin__content-right" [class.active]="isLogin">
			<div class="signin__form-container" [class.active]="isLogin">
				<h1 class="signin__title">Welcome Back</h1>
				<h2 class="signin__subtitle">Login to your account</h2>

				<form class="signin__form" [formGroup]="formLogin" (submit)="login()">
					<div class="signin__form-group signin__form-group--email">
						<div class="signin__input-icon">
							<div class="signin__icon" [ngClass]="{ 'ng-invalid-icon': formLogin.controls.email.invalid && formLogin.controls.email.touched }">
								<fa-icon [icon]="['fas', 'envelope']"></fa-icon>
							</div>
							<div class="signin__input">
								<input pInputText placeholder="Email" class="signin__input-field" formControlName="email" />
							</div>
						</div>
					</div>

					<div class="signin__form-group signin__form-group--password">
						<div class="signin__input-icon">
							<div class="signin__icon" [ngClass]="{ 'ng-invalid-icon': formLogin.controls.password.invalid && formLogin.controls.password.touched }">
								<fa-icon [icon]="['fas', 'lock']"></fa-icon>
							</div>
							<div class="signin__input">
								<p-password
									[toggleMask]="true"
									[feedback]="false"
									placeholder="password"
									class="signin__input"
									formControlName="password"
								></p-password>
							</div>
						</div>
					</div>

					<div class="signin__forgot">
						<div class="signin__remember"><app-checkbox /><span class="signin__remember signin__remember-text">Remember me</span></div>
						<a href="#" class="signin__forgot-link">Forgot password?</a>
					</div>
					<button class="mp-button signin__submit">Submit</button>
				</form>

				<div class="signin__social">
					<div class="signin__social-separator">
						<div class="signin__social-bar"></div>
						<div class="signin__social-text">OR</div>
						<div class="signin__social-bar"></div>
					</div>
					<div class="signin__social-body">
						<button class="signin__social-button signin__social-button--facebook">
							<fa-icon [icon]="['fab', 'facebook']"></fa-icon>
						</button>
						<button class="signin__social-button signin__social-button--google">
							<fa-icon class="" [icon]="['fab', 'google']"></fa-icon>
						</button>
						<button class="signin__social-button signin__social-button--github">
							<fa-icon [icon]="['fab', 'github']"></fa-icon>
						</button>
					</div>

					<div class="signin__signup">Don't have an account yet? <button (click)="changeForm()" class="signin__signup-link">Sign Up</button></div>
				</div>
			</div>
			<div class="signin__form-signup" [class.active]="isLogin">
				<h1 class="signin__title">Create new account</h1>
				<h2 class="signin__subtitle">Register your email address</h2>

				<form class="signin__form" [formGroup]="formRegister" (submit)="register()">
					<div class="signin__form-group signin__form-group--username">
						<div class="signin__input-icon">
							<div
								class="signin__icon"
								[ngClass]="{ 'ng-invalid-icon': formRegister.controls.userName.invalid && formRegister.controls.userName.touched }"
							>
								<fa-icon [icon]="['fas', 'user']"></fa-icon>
							</div>
							<div class="signin__input">
								<input pInputText placeholder="Username" class="signin__input-field" formControlName="userName" />
							</div>
						</div>
					</div>

					<div class="signin__form-group signin__form-group--email">
						<div class="signin__input-icon">
							<div class="signin__icon" [ngClass]="{ 'ng-invalid-icon': formRegister.controls.email.invalid && formRegister.controls.email.touched }">
								<fa-icon [icon]="['fas', 'envelope']"></fa-icon>
							</div>
							<div class="signin__input">
								<input pInputText placeholder="email" type="email" class="signin__input-field" formControlName="email" />
							</div>
						</div>
					</div>

					<div class="signin__form-group signin__form-group--password">
						<div class="signin__input-icon">
							<div
								class="signin__icon"
								[ngClass]="{ 'ng-invalid-icon': formRegister.controls.password.invalid && formRegister.controls.password.touched }"
							>
								<fa-icon [icon]="['fas', 'lock']"></fa-icon>
							</div>
							<div class="signin__input">
								<p-password
									[toggleMask]="true"
									[feedback]="true"
									placeholder="password"
									class="signin__input"
									formControlName="password"
								></p-password>
							</div>
						</div>
					</div>

					<div class="signin__forgot">
						<div class="signin__remember"><app-checkbox /><span class="signin__remember signin__remember-text">Remember me</span></div>
					</div>
					<button class="mp-button signin__submit">Create</button>
				</form>

				<div class="signin__social">
					<div class="signin__social-separator">
						<div class="signin__social-bar"></div>
						<div class="signin__social-text">OR</div>
						<div class="signin__social-bar"></div>
					</div>
					<div class="signin__social-body">
						<button class="signin__social-button signin__social-button--facebook">
							<fa-icon [icon]="['fab', 'facebook']"></fa-icon>
						</button>
						<button class="signin__social-button signin__social-button--google">
							<fa-icon class="" [icon]="['fab', 'google']"></fa-icon>
						</button>
						<button class="signin__social-button signin__social-button--github">
							<fa-icon [icon]="['fab', 'github']"></fa-icon>
						</button>
					</div>

					<div class="signin__signup">Already have an account? <button (click)="changeForm()" class="signin__signup-link">Sign In</button></div>
				</div>
			</div>
		</div>
	</div>
</section>
